*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.parent{
    display: flex;
    /* height: 100vh; */
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 300px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    margin-top: 50px;
    background-color: white;
    border-radius: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s all;
}
#item1 .bgimg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRllVUTnBBlExwlaS_NxfbDhZV5W5yQzuGF2A&s);
    padding: 100px 0px;
    width: 100%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

}
#item2 .bgimg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0L4jw8H7jS8d-m2_44kq3XDJO5myXOaVBIA&s);
    padding: 100px 0px;
    width: 100%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

}
#item3 .bgimg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyUMzUTAssPyZrPWXLr_rms_GueWyHqVXQpQ&s);
    padding: 100px 0px;
    width: 100%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;

}
.box h3{
    margin-top: 20px;
    color: rgb(178, 61, 81);
    text-align: center;
}
.box h1{
    margin: 10px auto;
    text-align: center;
}
.box p{
    margin: 20px auto;
    text-align: center;
    width: 90%;
    color: gray;
}
.btn{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 61, 81);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.btn1,.btn2{
    width: 30%;
    text-align: center;
    font-size: 20px;
    height: 100%;
    border-right: 2px solid white;
    
}
.btn3{
    width: 30%;
    text-align: center;
    font-size: 15px;
    height: 100%;
}
.btn1 span{
    font-size: 35px;
    text-align: center;
    padding: 10px 10px;
}
.btn2 span{
    font-size: 35px;
    text-align: center;
    padding: 10px 10px;
}
.btn3 span{
    font-size: 35px;
    text-align: center;
    padding: 10px 10px;
}
#item2:hover{
    transform: scale(1.1);

}