* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 800px;
  background-color: #000;
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.7fr 0.7fr 0.3fr 1fr 0.8fr;
  grid-row: 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
}

.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parent .box1 {
  grid-column: 1/5;
  grid-row: 1/2;
  background-image: url("3.jpg");
}

.parent .box2 {
  grid-column: 5/7;
  grid-row: 1/2;
  background-image: url("3.jpg");
}

.parent .box3 {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("3.jpg");
}

.parent .box4 {
  grid-column: 2/6;
  grid-row: 2/3;
  background-image: url("3.jpg");
}

.parent .box5 {
  grid-column: 6/7;
  grid-row: 2/3;
  background-image: url("3.jpg");
}

.parent .box6 {
  grid-column: 1/4;
  grid-row: 3/4;
  background-image: url("3.jpg");
}

.parent .box7 {
  grid-column: 4/7;
  grid-row: 3/4;
  background-image: url("3.jpg");
}

.parent .box8 {
  grid-column: 1/3;
  grid-row: 4/5;
  background-image: url("3.jpg");
}

.parent .box9 {
  grid-column: 3/5;
  grid-row: 4/5;
  background-image: url("3.jpg");
}

.parent .box10 {
  grid-column: 5/7;
  grid-row: 4/5;
  background-image: url("3.jpg");
}

.parent .box11 {
  grid-column: 7/8;
  grid-row: 1/5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  color: #fff;
  background-color: black;
  padding: 20px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  line-height: 30px;
  font-size: 12px;
}

li a {
  color: #fff;
}

li a:link {
  text-decoration: none;
}

li a:hover {
  color: brown;
}

.fa-brands {
  font-size: 13px;
  padding: 8px;
  margin-top: 14px;
}

.fa-brands:hover {
  color: brown;
}
