body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color {
  background-color: black;
  height: 100vh;
  width: 60vw;
  color: white;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4,
h2,
p {
  margin-right: 5%;
  margin-left: 30%;
}

h4 {
  color: red;
}

p {
  font-size: xx-small;
}

.image {
  background-image: url(5.jpg);
  background-size: cover;
  height: 100vh;
  width: 40vw;
}
